:root{
  --card-color: rgb(231, 203, 239);
  --dark-color: #282c34;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}

.flex-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  border: none;
}

button:hover{
  cursor: pointer;
}

/* header */

.page-header{
  width: 100vw;
  height: 5rem;
  background-color: var(--dark-color);
  color: white;
}

.page-header h1{
  text-align: center;
  font-size: 1.5rem;
}

/* main */

.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: .6rem;
  padding: 1rem;
  background-color: var(--card-color);
  border-radius: 15px;
  transition: border .3s linear;
  border: 5px solid var(--card-color);
}

.card:hover{
  border: 5px solid var(--dark-color);
  cursor: pointer;
}

.card:hover > img{
  filter: grayscale(0.7);
}

.card > img {
  width: 80%;
  min-height: auto;
  margin: 0 auto;
  transition: filter .3s linear;
}

.card__header{
  font-size: 1.5rem;
  text-align: center;
}

.card__description{
  font-size: 1.2rem;
  text-align: center;
}

/* footer */

.page-footer{
  width: 100vw;
  height: 5rem;
  background-color: var(--dark-color);
  color: white;
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}