:root {
  --card-color: rgb(231, 203, 239);
  --dark-color: #282c34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

/* header */

.page-header {
  height: 10vh;
  background-color: var(--dark-color);
  color: white;
  position: sticky;
  top: 0;
  z-index: 5;
  justify-content: space-between;
  padding: 0 2rem;
}

.page-header > a,
.page-logo{
  height: 90%;
  min-width: auto;
}

.page-header h1 {
  text-align: center;
  font-size: 1.5rem;
}

.links {
  gap: 1rem;
}

.links a {
  color: var(--card-color);
  font-size: 1.5rem;
  text-decoration: none;
  padding: .5rem;
  border-radius: 10px;
  transition: all .3s linear;
}

.links a:hover {
  color: var(--dark-color);
  background-color: var(--card-color);
}


/* main */

.gallery__header{
  margin: .8rem auto;
  text-align: center;
  font-size: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  width: 80vw;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: .6rem;
  padding: 1rem;
  background-color: var(--card-color);
  border-radius: 15px;
  transition: border .3s linear;
  border: 5px solid var(--card-color);
}

.cards > .card:hover {
  border: 5px solid var(--dark-color);
  cursor: pointer;
}

.cards > .card:hover>img {
  filter: grayscale(0.7);
}

.card>img {
  width: 80%;
  min-height: auto;
  margin: 0 auto;
  transition: filter .3s linear;
}

.card__header {
  font-size: 1.5rem;
  text-align: center;
}

.card__description {
  font-size: 1.2rem;
  text-align: center;
}

.home{
  min-height: 80vh;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.home__btn{
  min-width: 30vw;
  height: 3rem;
  font-size: 2rem;
  color: var(--card-color);
  background-color: var(--dark-color);
  border-radius: 10px;
  transition: all .3s ease-in;
}

.home__btn:hover{
  transform: scale(1.05);
}

.random-pepe{
  width: 40vw;
  min-height: auto;
  text-align: center;
  margin-bottom: .5rem;
}

.random-pepe h2{
  height: 2.5rem;
  width: 100%;
  text-align: center;
  margin-bottom: .5rem;
}

/* footer */

.page-footer {
  height: 10vh;
  background-color: var(--dark-color);
  color: white;
  font-size: 1.5rem;
}

/* not found page */

.not-found {
  min-height: 80vh;
  flex-direction: column;
  gap: 2rem;
}

.not-found a {
  color: var(--dark-color);
  font-size: 1.4rem;
  text-decoration: none;
}

.not-found img {
  width: 8rem;
  min-height: auto;
}

/* loading section */

.loading {
  min-width: 95vw;
  min-height: 80vh;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

.logo-random > .loading{
  min-width: 40vw;
  min-height: 30vh;
}

.loading img {
  width: 8rem;
  min-height: auto;
}

.loading p {
  font-size: 1.5rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-19 19:17:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.blink-1 {
  animation: blink-1 2s linear infinite both;
}

@keyframes blink-1 {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}



/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}